@charset "utf-8";

@import url("designs.css");
@import url("layout.css");
@import url("menu.css");

/*
    Demo Page Style Sheet

    Author: Adonis Castro
    Date: 12/01/2020

    Filename: demo.css

*/

/* Heading Styles */

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1em;
}

h1, h2 {
	font-family: Quicksand, Verdana, Geneva, sans-serif;
	letter-spacing: 0.1em;
}

/*Article Styles */

article.demo, article.confidential
{
    width: 100%;
	margin: 0 2%;
	padding: 2%;
}

article.demo h1, article.demo h2, article.confidential h3 {
	background-color: rgba(0,120,215,.5);
	color: rgb(101, 101, 101);
}
